name: Deploy innsending

on:
  workflow_dispatch:
    inputs:
      cluster:
        description: Cluster
        required: true
        default: dev-gcp
        type: choice
        options:
          - dev-gcp
  push:
    branches: [ main ]
    paths-ignore:
      - '.nais/redis-dev.yml'
      - '.nais/redis-prod.yml'
      - '.github/**'
      - 'FUNKSJONELL.md'

permissions:
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Setup Gradle for a non-wrapper project
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
      - name: Bygg & test
        env:
          GITHUB_PASSWORD: ${{ secrets.READER_TOKEN }}
        run: ./gradlew test buildFatJar --continue --configuration-cache --stacktrace --info

      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: aap # required
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }} # required, but is defined as an organization variable
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }} # required, but is defined as an organization secret
          tag: ${{ github.sha }}
          build_args: |
            APP_NAME=${{ github.event.repository.name }}
    outputs:
      image: ${{ steps.docker-push.outputs.image }}

  deploy-dev:
    if: github.event.pull_request.merged || github.event_name == 'push' || github.event.inputs.cluster == 'dev-gcp'
    needs: build
    concurrency: deploy-dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          PRINT_PAYLOAD: true
          CLUSTER: dev-gcp
          RESOURCE: .nais/application-dev.yml
          VAR: image=${{ needs.build.outputs.image }}


  deploy-prod:
    if: github.event.pull_request.merged || github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [ build, deploy-dev ]
    runs-on: ubuntu-latest
    concurrency: deploy-prod
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          PRINT_PAYLOAD: true
          CLUSTER: prod-gcp
          RESOURCE: .nais/application-prod.yml
          VAR: image=${{ needs.build.outputs.image }}
